<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>

    <add key="GitPullInterval" value="60000" />
    <add key="GitPullDelay" value="1" />
    <add key="RepoCacheToken" value="repocache" />
    <add key="KeepTrash" value="\\trash" />
    <add key="GitKeepInitial" value="\\gitkeep\\initial" />
    <add key="GitKeepUpdate" value="\\gitkeep\\update" />
    <add key="GitKeepSuffix" value=".keep" />

    <add key="latestVersionUrl" value="http://ckcm/Latest/Update/latestPreview.html" />
    <add key="latestVersionDownload" value="http://ckcm/Latest/Update/Preview.dll" />
    <add key="OPTServiceUrl" value="http://wsckcmapp01/OptWs/OperationalTemplateBuilderService.asmx" />

    <add key="CacheServiceUrl" value="http://ckcm.healthy.bewell.ca:8091/transform_support" />
    <add key="QueryServiceUrl" value="http://ckcm.healthy.bewell.ca:8091/templatebyid" />

    <add key="DAMUploadPort" value="10091" />
    <add key="DAMUploadUrl" value="http://ckcm.healthy.bewell.ca:10081/init," />
    <add key="SchedulerUrl" value="http://ckcm:10008/scheduler-plan.html" />
    <add key="DocReviewUploadUrl" value="http://ckcm:10091/dynamic/ReviewDocument," />
    <add key="OverlapUrl" value="http://ckcm:10008/dynamic/OverlapFocus," />
    <add key="WURUrl" value="http://ckcm:8011/WhereUsed," />
    <add key="ScheduleRebuildUrl" value="http://ckcm:10008/dynamic/BuildPlan.json" />
    <add key="StartDocReviewUrl" value="http://ckcm.healthy.bewell.ca/buildbuddy/rest/documentToReview?doc="/>
    <add key="SetRootNodeEditURL" value="http://ckcm:10008/dynamic/SetupRootNodeEdit,"/>
    <add key="CancelRootNodeEditURL" value="http://ckcm:10008/dynamic/CancelRootNodeEdit,"/>

    
    <add key="Assets" value="\\local" />
    <add key="WorkInProgress" value="\\local\\WIP" />
    <add key="ServerName" value="http://ckcm.healthy.bewell.ca" />
    <add key="BinDir" value="C:\Users\jonbeeby\source\repos\DamBuddy2\packages\PortableGit\bin\" />
    <add key="FolderRoot" value="c:\TD" />
    <add key="GrepDir" value="C:\Users\jonbeeby\source\repos\DamBuddy2\packages\grep\" />
    <add key="CKMSessionURL" value ="https://ahsckm.ca/ckm/rest/v1/sessions" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>