<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="latestVersionUrl" value="http://ckcm/Latest/Update/latestPreview.html"/>
    <add key="latestVersionDownload" 	 value="http://ckcm/Latest/Update/Preview.dll"/>
    <add key="OPTServiceUrl" value="http://wsckcmapp01/OptWs/OperationalTemplateBuilderService.asmx"/>
    <add key="CacheServiceUrl" value="http://ckcm.healthy.bewell.ca:8091/transform_support"/>
  </appSettings>
</configuration>